* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color: #f7f7f7; */
}

#heading, #clickMeBtn {
    text-align: center;
}

body {
    color: #454545;
}

#logo {
    width: 75px;
    height: 75px;
}

.logo {
    color: white;
}

h2 {
     
}