* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(105, 105, 105);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
    font-size: 18px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

#heading, #clickMeBtn {
    text-align: center;
}

body {
    color: #454545;
}

#logo {
    width: 75px;
    height: 75px;
}

.logo {
    color: white;
}

h2 {
     
}